<div>
  <div>
    <span class="header">Render: {{selectedArtifact.typeObject.name}}</span>
  </div>
  <div class="col s2">
    <ul ng-if="artifactRendererCtrl.renderStyle == 'array'">
      <li class="collection-item" ng-repeat="artifact in artifactRendererCtrl.data track by $id(artifact)">{{artifact}} {{artifact.type}}</li>
    </ul>
    <p ng-if="artifactRendererCtrl.renderStyle == 'value'">
      {{artifactRendererCtrl.data}} {{artifact.type}}
    </p>
  </div>
  <div ng-if="artifactRendererCtrl.renderStyle == 'grid'" class="grid-contain">
    <fin-hypergrid class="abs">
        <fin-hypergrid-behavior-q url="ws://localhost:12345"></fin-hypergrid-behavior-q>
    </fin-hypergrid>
  </div>
  <div ng-transclude="">
  </div>
</div>
